.dragged {
  cursor: pointer;

  &__item {
    background: #ffffff;
    border-radius: 12px;

    &:not(:last-child) {
      margin-bottom: 30px;
    }

    &.selected {
      .dragged__drag svg {
        // fill: #3679FD;
        stroke: #3679FD;
      }
    }
  }
  &__title {
    line-height: 19px;
  }
  span {
    font-size: 14px;
    line-height: 16px;
    color: #838799;
  }
  &__drag {
    cursor: pointer;
  }
  &__delete {
    cursor: pointer;
  }

  &__arrow {
    transform: rotate(90deg);

    svg {
      stroke: #3679FD;
    }
  }
}
